<div class="modal" id="signInModal">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card" id="loginCard">
        <h1 class="page-title">Sign up</h1>

        <form class="form signup-form">
            <label class="label">Name</label>
            <input class="input is-medium" type="text" placeholder="enter your login name . . ." id="name-signup">

            <label class="label">Email</label>
            <input class="input is-medium" type="text" placeholder="enter your password . . ." id="email-signup">

            <label class="label">Password</label>
            <input class="input is-medium" type="text" placeholder="enter your password . . ." id="password-signup">

            <div class="columns" id="loginButtons">
                <div class="column">
                    <div class="columns" id="logButtonsCol">
                        <div class="control">
                            <button class="button is-link" type="submit">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light" id="modalSignClose">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        </div>

    </div>
    <button class="modal-close is-large" aria-label="modalClose" id="modalClose"></button>
</div>