<div class="modal" id="logInModal">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card" id="loginCard">
        <h1 class="page-title">Login</h1>

        <form class="form login-form">
            <label class="label">Name</label>
            <input class="input is-medium" type="text" placeholder="enter your login name . . ." id="name-login">

            <label class="label">Password</label>
            <input class="input is-medium" type="text" placeholder="enter your password . . ." id="password-login">

            <div class="columns" id="loginButtons">
                <div class="column">
                    <div class="columns" id="logButtonsCol">
                        <div class="control">
                            <button class="button is-link" type="submit">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light" id="modalLogClose">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        </div>

    </div>
    <button class="modal-close is-large" aria-label="modalClose" id="modalClose"></button>
</div>