<div class="container" id="homePlaceholder">
	<div class="columns is-mobile is-full is-centered">
<div class="column is-half is-offset-one-quarter">
    <div class="fade-in-image is-centered">
		 <img class= "" src="./assests/poke pound.png"> 
	</div>

			<div class="field is-grouped">
				<div class="fade-in-button">
					<div class="columns is-multiline is-centered">
						<div class="buttons are-large">

							{{#if logged_in}}
							<button class="button is-danger is-dark" href="/buy" onclick="adoptTodaynButtonHandler(event);">
							Adopt Today!</button>
							<button class="button is-danger is-light" href="/sell" onclick="rehomeTodaynButtonHandler(event);">
							Rehome Today!</button>
							{{else}}
							<button class="button is-danger is-dark" href="/login" id="signInButton" onclick="signInButtonHandler(event);">
							Sign up now!</button>
							<button class="button is-danger is-light" id="logInButton" onclick="logInButtonHandler(event);">
							Already user?</button>
							{{/if}}

						</div>
					</div>
				</div>
			</div>
		</div>
</div>
	</div>
</div>