<div class="container" id="homePlaceholder">
<div class="columns is-mobile is-centered">
  <div class="column is-half">

    <div class="fade-in-image">
		 <img src="./assests/pokeball_PNG21.png"> 
	</div>

<div class="field is-grouped">
	<div class="fade-in-button">
		<div class="columns is-multiline is-centered">
			<div class="buttons are-large">
				{{!--these links don't work --}}
				{{#if logged_in}}
				<button class="button is-danger is-dark" href="/buy" id="signInButton">
				 Adopt Today!</button>
		 		<button class="button is-danger is-light" href="/sell" id="logInButton">
				 Rehome Today!</button>
				{{else}}
		 		<button class="button is-danger is-dark" href="/login" id="signInButton">
				 Sign up now!</button>
		 		<button class="button is-danger is-light" href="/login" id="logInButton">
				 Already user?</button>
				{{/if}}
			</div>
		</div>
	</div>
</div>
</div>
</div>

<script src="/js/buy.js"></script>
<script src="/js/sell.js"></script>
<script src="/js/login.js"></script>