
 <div class="container" id="homePlaceholder">
<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <p class="bd-notification is-primary">
     <div class="fade-in-image">
		 <div class="fade-in-button">
		 <img src="./assests/pokeball_PNG21.png">
		 <div class="column is-half"></div>
		 <button class="button is-primary">Adpot now!</button>
		 </div>
	</div>
    </p>
  </div>
</div>
